{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker.css">
{% endblock %}

{% block body %}
    <h1>Listado de tareas</h1>
    {% if todoLists|length %}
        <table class="table table-condensed">
            <thead>
                <th>Tarea</th>
                <th>Fecha de creacion</th>
                <th>Fecha limite</th>
                <th>Terminarla</th>
            </thead>
            <tbody>
                {% for todo in todoLists %}
                    <tr id="{{ todo.id }}" {% if 0 == todo.status %}style="background-color: lightcoral"{% endif %}>
                        <td>
                            <input type="text" data-id="{{ todo.id }}" data-attribute="name" class="ajax-input input-sm" value="{{ todo.name }}" />
                        </td>
                        <td>
                            {{ todo.creationDate }}
                        </td>
                        <td>
                            <input type="date" data-id="{{ todo.id }}" data-attribute="dueDate" class="ajax-input input-sm js-datepicker" value="{{ todo.dueDate }}" />
                        </td>
                        <td>
                            <input type="checkbox" {% if 0 != todo.status %}checked{% endif %} data-id="{{ todo.id }}" data-attribute="status" class="ajax-input input-sm" />
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
    <div class="row">
        <h2>Crear nueva tarea</h2>
        {{ include('todo/form.html.twig') }}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.min.js"> </script>

    <script>
        jQuery(document).ready(function() {
            $('.js-datepicker').datepicker({
                format: 'yyyy-mm-dd'
            });
            $('.ajax-input').change(function(event){
                event.preventDefault();
                var params = [];
                todoLine = $(this).closest('tr');
                var id = $(todoLine).attr('id');
                $(todoLine).find('.ajax-input').each(function(e){
                    var value = $(this).val();
                    var name = $(this).attr('data-attribute');
                    if ('status' === $(this).attr('data-attribute')) {
                        value = !!$(this).is(':checked');
                        if (value) {
                            $(todoLine).css('background-color', '');
                        } else {
                            $(todoLine).css('background-color', 'lightcoral');
                        }
                    }
                    params.push({name: name, value: value});
                });

                $.ajax({
                    url: Routing.generate('todo_put', {'id' : id}),
                    data: params,
                    method: 'POST',
                    success: (function(data){
                        $('#main').prepend('<p class="alert alert-success">Modificado con exito</p>');
                    })
                });
            });
        });
    </script>
{% endblock %}